<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djzass.medipoint" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_medipoint"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <activity
            android:name=".boundary_ui.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".boundary_ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".boundary_ui.PasswordRetrieverActivity"
            android:label="@string/title_activity_password_retriever" />

        <activity
            android:name=".boundary_ui.SignUpPageOneActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>

        <activity
            android:name=".boundary_ui.SignUpPageTwoActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>

        <activity
            android:name=".boundary_ui.SignUpPageThreeActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>

        <activity
            android:name=".boundary_ui.CreateAppointmentActivity"
            android:label="Create an Appointment" />

        <activity
            android:name=".boundary_ui.EditAppointmentActivity"
            android:label="Edit an Appointment" />

        <activity
            android:name=".boundary_ui.ReferralActivity"
            android:label="@string/referral" />

        <activity android:name=".boundary_ui.MedicalHistoryActivity"
            android:label="@string/med_his"/>

        <activity android:name=".boundary_ui.EditHistoryActivity"
            android:label="@string/med_his"/>

        <activity
            android:name=".boundary_ui.ViewAppointmentActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".boundary_ui.FollowUpListActivity"
            android:label="Past Appointments" >
        </activity>

        <activity
            android:name=".boundary_ui.CreateFollowUpActivity"
            android:label="Create Follow Up Appointment" >
        </activity>

        <receiver android:name=".logic_manager.AlarmBroadcastReceiver" />

    </application>



</manifest>
